/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #C0B7B1;
  --ion-color-primary-rgb: 192,183,177;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #a9a19c;
  --ion-color-primary-tint: #c6beb9;

  --ion-color-secondary: #433E3F;
  --ion-color-secondary-rgb: 67,62,63;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3b3737;
  --ion-color-secondary-tint: #565152;

  --ion-color-tertiary: #7A7265;
  --ion-color-tertiary-rgb: 122,114,101;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #6b6459;
  --ion-color-tertiary-tint: #878074;

  --ion-color-success: #af5930;
  --ion-color-success-rgb: 175,89,48;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #9a4e2a;
  --ion-color-success-tint: #b76a45;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-content {
  --padding: 2em;
  --background: url(../images/home-bg.jpg) no-repeat center/cover fixed;
}

ion-card-subtitle {
  background-color: rgba(0, 0, 0,);
  color: #fff;
  text-transform: none;
  text-align: center;
  margin: 1.5em 3em;
}

ion-item{
  --background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 4px;
  color: #515151;
}

.ion-item-border {
  border-radius: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  }

#homePageSubmit{
  width: 50%;
  margin: 1em auto;
  color: #515151;
}

ion-card-content{
  --background-color: rgba(0, 0, 0, 0.3) !important;
}

.info_buttons{
  margin: 0 0.5em;
}



ion-card-title {
  color: white;
}