.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.all-content {
  padding: 2em;
  text-transform: none !important;
}

.logo-img{
  width: 60%;
  margin: 2em auto;
}

.css-1wa3eu0-placeholder {
  color: #fff !important;
}

.css-yk16xz-control{
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: #fff !important;
}

.css-2b097c-container{
  background-color: rgba(0,0,0,0) !important;
  color: #000000 !important;
  margin-bottom: 1.5em !important;
}

.item-interactive.item-datetime.item-has-placeholder.item-label.item.ios.ion-activatable.ion-focusable.hydrated{
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.home-content{
  /*background: url(../images/home-bg.jpg) no-repeat center/cover fixed;*/
}

.list-content{
  height: 1000px;
  padding: 1em;
  background-color: #d9d0c3;
  /*background: url(../images/list-bg.jpg) no-repeat center/cover fixed;*/
}

.info-content{
  height: 2000px;
  padding: 1em;
  background-color: #d9d0c3;
  /*background: url(../images/list-bg.jpg) no-repeat center/cover fixed;*/
}

/*
.header-list{
  background-color: red;
}*/

.toolbar-background{
  background-color: blue;
}

#dislink{
  text-decoration: underline;
  color: #433E3F;
  font-weight: 200;
  font-style: italic;
}

#menu-content{
  padding: 5em 0.5em;
  background-color: black;
  height: 100%;
}
